.main-container {
  background-color: #ffd9a7;
  padding-top: 90px;
  min-height: 80vh;
}

.card {
  height: 175px;
  width: 320px;
  background-size: cover !important;
  background-position: center;
  color: black;
  position: relative;
  margin: 25px 0;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card-name {
  margin-top: 10px;
  top: 20px;
  left: 20%;
  right: 20%;
  font-size: 22px;
  text-transform: capitalize;
  text-align: center;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: lighter;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}

.brewery-type {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  text-transform: capitalize;
  color: #4286ba;
}
