.background {
  padding-top: 100px;
  background-color: #ffd9a7;
  min-height: 100vh;
}

.details {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F8F9FA;
  margin-left: 475px;
  margin-right: 475px;
  border-radius: 4px;
}

.details p {
  text-align: left;
  font-size: 20px;
  padding-left: 25px;
}

.category {
  text-transform: capitalize;
}

.recommendations {
  font-weight: bold;
  margin-top: 80px;
  margin-left: 285px;
  font-size: 25px;
}

a {
  color: #309aff;
}

a:hover {
  color: #0282fc;
  text-decoration: none;
}

.card {
  height: 175px;
  width: 320px;
  background-size: cover !important;
  background-position: center;
  color: black;
  position: relative;
  margin: 25px 0;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card-name {
  margin-top: 10px;
  top: 20px;
  left: 20%;
  right: 20%;
  font-size: 22px;
  text-transform: capitalize;
  text-align: center;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: lighter;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
