.footer {
  background-color: #f2f5ff;
}

.footer ul {
  list-style: none;
  display: block;
  float: left;
  margin-left: 270px;
  padding-top: 10px;
}
.footer h2 {
  font-weight: 200;
  margin-bottom: 10px;
}
