.menu {
  background-color: #f2f5ff;
  text-align: center;
  position: fixed;
  padding: 20px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 4px 25px -8px gray;
  display: flex;
  align-items: center;
}

.menu-btns {
  margin-left: 590px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-home,
.menu-categories,
.menu-random {
  background: none;
  color: #4286ba !important;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 22px;
  background-color: #f2f5ff !important;
}


.menu-home:hover,
.menu-categories:hover,
.menu-random:hover {
  color: #325896 !important;
  text-decoration: none;
}

.cont-home,
.cont-categories,
.cont-random {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 15px;
  margin-right: 15px;
}

.cont-categories {
  margin-top: -7px;
}

.pint {
  color: white;
}


.cat-dropdown {
  text-transform: capitalize;
  color: black !important;
}

#dropdown-no-caret {
  margin-top: 15px;
}
